services:
  nova-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nova-api
    restart: unless-stopped
    network_mode: host
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
      # Mapeia logs para pasta local do projeto
      - ./logs:/app/logs
    healthcheck:
      test: ["CMD", "sh", "-c", "wget --quiet --tries=1 --spider http://localhost:3030/v2/api/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

