{
  "swagger": "2.0",
  "info": {
    "version": "1.1.0",
    "title": "API Nova Residence",
    "description": "Documentação - Nova API"
  },
  "host": "api.condominionovaresidence.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Basic",
      "description": "Rotas Básicas"
    },
    {
      "name": "Database",
      "description": "Rotas relacionadas ao Banco de Dados"
    },
    {
      "name": "Vehicle",
      "description": "Rotas relacionadas a veículos"
    },
    {
      "name": "Access",
      "description": "Rotas relacionadas a acessos"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Base"
        ],
        "summary": "Rota Base",
        "description": "Retorna 'ok'.",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      }
    },
    "/healthchecker": {
      "get": {
        "tags": [
          "Base"
        ],
        "summary": "Health Checker",
        "description": "Verifica a saúde da API e retorna a data/hora atual.",
        "responses": {
          "200": {
            "description": "Saúde da API"
          }
        }
      }
    },
    "/query": {
      "post": {
        "tags": [
          "Genérico"
        ],
        "summary": "Executa uma query no banco de dados",
        "description": "Permite executar queries genéricas no banco de dados. **Use com cuidado.**",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Objeto contendo a query a ser executada.",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "example": "SELECT * FROM YOUR_TABLE_NAME"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado da consulta",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Query is required"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "Erro ao executar a query"
                }
              }
            }
          }
        }
      }
    },
    "/registerVehicle": {
      "post": {
        "tags": [
          "Veículos"
        ],
        "summary": "Cadastrar veículo",
        "description": "Registra um novo veículo no banco de dados.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Informações do veículo",
            "schema": {
              "type": "object",
              "properties": {
                "plate": {
                  "type": "string",
                  "example": "ABC1234"
                },
                "brand": {
                  "type": "string",
                  "example": "Toyota"
                },
                "model": {
                  "type": "string",
                  "example": "Corolla"
                },
                "color": {
                  "type": "string",
                  "example": "Preto"
                },
                "user_seq": {
                  "type": "integer",
                  "example": 101
                },
                "unit_seq": {
                  "type": "integer",
                  "example": 0
                },
                "tag": {
                  "type": "integer",
                  "example": 1234567890
                }
              },
              "required": [
                "plate",
                "brand",
                "model",
                "color",
                "user_seq",
                "unit_seq",
                "tag"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Veículo registrado com sucesso.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Missing required fields"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "Unknown error"
                }
              }
            }
          }
        }
      }
    },
    "/registerVehiclePhoto": {
      "post": {
        "tags": [
          "Veículos"
        ],
        "summary": "Cadastrar foto do veículo",
        "description": "Registra fotos do veículo no banco de dados.",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "vehicleSequence",
            "in": "formData",
            "required": true,
            "type": "integer",
            "description": "Sequência do veículo",
            "example": 1
          },
          {
            "name": "photoTag",
            "in": "formData",
            "required": false,
            "type": "file",
            "description": "Foto da TAG do veículo"
          },
          {
            "name": "photoVehicle",
            "in": "formData",
            "required": false,
            "type": "file",
            "description": "Foto do veículo"
          }
        ],
        "responses": {
          "200": {
            "description": "Fotos registradas com sucesso.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Vehicle sequence is required"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "Unknown error"
                }
              }
            }
          }
        }
      }
    },
    "/registerAccess": {
      "post": {
        "tags": [
          "Veículos"
        ],
        "summary": "Cadastra liberação de acesso",
        "description": "Registra TAG do veículo no banco de dados.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Informações do acesso",
            "schema": {
              "type": "object",
              "properties": {
                "personSequence": {
                  "type": "integer",
                  "example": 1
                },
                "type": {
                  "type": "string",
                  "example": "Y"
                },
                "panic": {
                  "type": "string",
                  "example": "N"
                },
                "id2": {
                  "type": "string",
                  "example": "1234567890"
                },
                "user": {
                  "type": "string",
                  "example": "NARA"
                },
                "vehicleSequence": {
                  "type": "integer",
                  "example": 1
                }
              },
              "required": [
                "personSequence",
                "type",
                "panic",
                "id2",
                "user",
                "vehicleSequence"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Acesso registrado com sucesso.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Missing required fields"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "Unknown error"
                }
              }
            }
          }
        }
      }
    },
    "/validateAccess": {
      "post": {
        "tags": [
          "Acessos"
        ],
        "summary": "Validar acesso por TAG",
        "description": "Executa a procedure ACESSO_DISPOSITIVO para validar o acesso de um veículo com base na TAG.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Dados para validação de acesso",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "1234567890"
                },
                "dispositivo": {
                  "type": "integer",
                  "example": 3
                },
                "foto": {
                  "type": "string",
                  "example": null
                },
                "sentido": {
                  "type": "string",
                  "example": "S",
                  "description": "Sentido do acesso: E (entrada), S (saída)"
                }
              },
              "required": [
                "tag",
                "dispositivo",
                "sentido"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado da validação de acesso.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Missing required fields"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "Erro ao executar a procedure"
                }
              }
            }
          }
        }
      }
    }
  }
}